.idea

아래의 내용들로 github page 에 게시할 간단한 프로필 페이지를 만드려고 합니다.

## 이름
- Youngbeom Kim

## 닉네임
- onlypearson
- bluewings109

## 직업: Backend 개발자

## 소개
- 안녕하세요. 개발과 달리기를 좋아하고 수원삼성블루윙즈를 응원하는 백엔드 개발자입니다!

## 기술스택: Java (Spring), Python(fastapi), RDB(Oracle, Postresql)


## 경력
- 2017~2018
  - LG전자 VC사업본부 AVN 개발팀
    - 현대자동차 AVN 6세대 업데이트 모듈 개발
- 2018~2024
  - 삼성SDS 전기MES운영그룹
    - 삼성전기 MOS 운영(2018 ~ 2024)
    - 삼성전기 천진법인 2단지 구축 프로젝트(2020)
    - 삼성전기 베트남법인 신공장 프로젝트(2022)
- 2025~
  - 삼성SDS AI개발그룹
    - FabriX 개발

## 취미
- 달리기(2020~)
- 수원삼성블루윙즈 직관(1998~)

## 연락처
- mail: bluewings109@gmail.com
- instagram: instagram.com/onlypearson
- github: github.com/bluewings109

HTML, CSS, JavaScript 로 만들고, Tailwind CSS CDN을 사용해주세요.
모던하고 깔끔한 디자인이었으면 좋겠습니다.
index.html 에 모든 내용을 넣지 말고, 잘 정리된 구조화된 디렉토리 구조를 사용해주세요.
제 프로필 사진은 IMG_3180.JPEG 입니다.
